
body {
	font-family: sans-serif;;
}
#name{
	text-align: center;
	font-size: 30pt;
	font-weight:bold;
}
#biography{
text-align: center;
font-size: 15pt;
}
#picture{
	width:400px;
	margin-left: auto;
	margin-right: auto;
}
html {
  background: url(pexels-photo.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1{
	text-align:center;
	font-size: 10pt;
}
